
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}


p {
    margin-bottom: 15px;
}


a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

a:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}

iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: none;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

section {
    margin-bottom: 30px;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}
